.about-body {
  background-color: var(--white);
}

.hero {
  padding-top: 202px;
}

.hero .hero-title {
  max-width: clamp(346px, 39.6vw, 760px);
  font: clamp(70px, 8.2vw, 154px) SaolDisplay, sans-serif, Helvetica, Arial;
  text-align: center;
  line-height: 0.95;
  margin: auto;
  color: #263238;
}

.hero .hero-subtitle {
  max-width: clamp(302px, 48.1vw, 924px);
  font: clamp(32px, 2.86vw, 55px) NittiGrotesk-Light, sans-serif, Helvetica,
    Arial;
  color: #939395;
  text-align: center;
  margin: 64px auto 94px auto;
}

.hero .hero-image-container {
  position: relative;
  max-width: 810px;
  height: 1068px;
  margin: auto;
}

.hero .hero-image-container .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  margin-top: 261px;
}

.about-text .paragraph {
  font: clamp(24px, 1.77vw, 34px) NittiGrotesk-Light, sans-serif, Helvetica,
    Arial;
  line-height: 1.29;
  color: #263238;
  max-width: 845px;
  margin-bottom: 179px;
}

.about-text .paragraph:last-child {
  margin-bottom: 0;
}

.about-text .about-title {
  margin: 167px auto 115px 229px;
}

.about-text .about-title .title {
  font: clamp(38px, 2.81vw, 54px) SaolDisplay, sans-serif, Helvetica, Arial;
  color: #263238;
}

.about-text .about-title .title:last-child {
  margin-left: 55px;
}

.ml-75 {
  margin-left: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.gallery {
  margin-bottom: 750px;
}

.gallery .gallery-row {
  overflow-x: scroll;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  column-gap: clamp(24px, 2.6vw, 50px);
  margin-bottom: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: translateY(228px);
}

.gallery .gallery-row::-webkit-scrollbar {
  display: none;
}

.gallery .gallery-row .image-holder {
  scroll-snap-align: center;
}

.gallery .gallery-row .image-holder:nth-child(1) {
  width: clamp(324px, 34.7vw, 666px);
  height: clamp(324px, 34.7vw, 666px);
}

.gallery .gallery-row .image-holder:nth-child(2n) {
  width: clamp(358px, 38.3vw, 735px);
  height: clamp(358px, 38.3vw, 735px);
  margin-top: clamp(54px, 5.73vw, 110px);
}

.gallery .gallery-row .image-holder:nth-child(3n) {
  width: clamp(340px, 35.6vw, 683px);
  height: clamp(340px, 35.6vw, 683px);
  margin-top: clamp(20px, 1.92vw, 37px);
}

.gallery .gallery-row .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-lg-none {
  display: none;
}

.d-lg-block {
  display: block;
}

@media (max-width: 960px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero {
    padding-top: 150px;
  }

  .hero .hero-title {
    margin-bottom: 15px;
  }

  .hero .hero-subtitle {
    margin-top: 45px;
    margin-bottom: 80px;
  }

  .about-text {
    margin-top: 65px;
  }

  .about-text .paragraph {
    line-height: 1.42;
    margin: 0 0 35px 0;
  }

  .about-text .about-title {
    margin: 85px 0 35px 0;
  }

  .about-text .about-title .title:last-child {
    margin-left: 45px;
  }

  .gallery {
    height: 252px;
    margin-bottom: 620px;
  }

  .gallery .gallery-row {
    transform: translateY(95px);
  }

  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero .hero-image-container {
    max-width: 420px;
    height: 554px;
  }
}

@media (max-width: 376px) {
  .about-text .about-title .title {
    font-size: 34px;
  }

  .about-text .about-title .title:last-child {
    margin-left: 15px;
  }

  .hero .hero-title {
    font-size: 57px;
  }

  .hero .hero-image-container {
    height: 450px;
  }
}
